<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>Encrypt</title>
</head>
<body>
<nav>
    <a href="/encrypt">Encrypt</a>
    <a href="/decrypt">Decrypt</a>
    <a href="https://github.com/mostanglan/file-encrypt-decrypt" style="float: right;"><i class="fab fa-github fa-lg"></i></a>
</nav>