<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Upload</title>
</head>
<body>
<nav>
    <a href="/encrypt">Encrypt</a>
    <a href="/decrypt">Decrypt</a>
    <a href="https://github.com/mostanglan" style="float: right;"><i class="fab fa-github"></i></a>
</nav>
<p><%= name %></p>
<form action="#" method="post" enctype="multipart/form-data">
    <Lable>Upload File: </Lable>
    <input type="file" name="myfile">
    <input type="submit">
</form>
</body>
</html>