<%- include('header-nav-layout.ejs') %>
<h1 class="title-header">File Encryption</h1>
<div class="container">
    <form action="/" method="post" enctype="multipart/form-data">
        <label class="upload-container" id="dropcontainer">
            <span class="drop-title">Drop files here</span>
            <input type="file" name="myfile" id="myfile">
            <input type="submit" value="Upload">
        </label>
    </form>
</div>
</body>
</html>